@* @model ShippingDto *@
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@{
    ViewData["title"] = "Create Shipping";
}

@functions {
    public string GetAntiXsrfRequestToken()
    {
        return Xsrf.GetAndStoreTokens(Context).RequestToken;
    }
}

<style type="text/css">
    .css_select_div {
        text-align: center;
    }

    .css_select {
        display: inline-table;
        width: 25%;
        padding: 5px;
        margin: 5px 2%;
        border: solid 1px #686868;
        border-radius: 5px;
    }
</style>

<h4>Create Shipping</h4>
<div class="col-md-9" style="margin-bottom: 40px">
    @* <form asp-action="Create" method="post" enctype="multipart/form-data"> *@
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label>Select</label>
        <select class="css_select" id="tinh" name="tinh" title="Chọn Tỉnh Thành">
            <option value="0">Tỉnh Thành</option>
        </select>
    </div>
    <div class="form-group">
        <label>Select</label>
        <select class="css_select" id="quan" name="quan" title="Chọn Quận Huyện">
            <option value="0">Quận Huyện</option>
        </select>
    </div>
    <div class="form-group">
        <label>Select</label>
        <select class="css_select" id="phuong" name="phuong" title="Chọn Phường Xã">
            <option value="0">Phường Xã</option>
        </select>
    </div>

    <div class="form-group">
        <label>Input Price</label>
        <input type="text" name="Price" id="price-shipping" class="form-control" />
    </div>

    <input type="hidden" id="RequestVerificationToken" value="@GetAntiXsrfRequestToken()">
    <div class="form-group">
        <button type="button" class="btn btn-primary btn-add-shipping">Create</button>
    </div>
    @* </form> *@

    <h2>Shipping List</h2>
    <table class="table table-striped" id="myTable">
        <thead>
            <tr>
                <th>City</th>
                <th>District</th>
                <th>Ward</th>
                <th>Price</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var shipping in ViewBag.Shippings)
            {
                <tr>
                    <td>@shipping.City</td>
                    <td>@shipping.District</td>
                    <td>@shipping.Ward</td>
                    <td>@shipping.Price $</td> @*@shipping.Price.ToString("#,##0 VNĐ")*@
                    <td>
                        <a href="@Url.Action("Delete","Shipping", new {id = shipping.Id})" class="btn btn-danger confirmDeletion">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <a asp-action="Index" asp-asp-controller="Shipping">Back to List Shipping</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    @* <script src="https://cdn.ckeditor.com/4.22.1/standard/ckeditor.js"></script>
    <script>
        CKEDITOR.replace('Description');
    </script> *@

    <script>
        $(".btn-add-shipping").click(function () {
            var tinh = $("#tinh").find('option:selected').text();
            var quan = $("#quan").find('option:selected').text();
            var phuong = $("#phuong").find('option:selected').text();
            var price = $("#price-shipping").val();
            if (tinh == '' || quan == '' || phuong == '' || price == '') {
                alert("Fill all information!");
                // Swal.fire("Fill all information!");
            }
            else {
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("StoreShipping", "Shipping", new { area = "Admin" })",
                    data: { tinh: tinh, quan: quan, phuong: phuong, price: price, __RequestVerificationToken: $('#RequestVerificationToken').val() },
                    success: function (result) {
                        // console.log(result);
                        if (result.success) {
                            window.location.href = result.redirectToUrl;
                            // Swal.fire(result.message);
                        }
                    },
                    error: function (result) {
                        if (result.responseJSON.isDuplicate) {
                            // Swal.fire(result.responseJSON.message);
                            Swal.fire({
                                icon: "error",
                                title: result.responseJSON.message
                            });
                            return;
                        }
                        window.location.href = result.responseJSON.redirectToUrl;
                    }
                })
            }
        })

        $(document).ready(function () {
            //Lấy tỉnh thành
            $.getJSON('https://esgoo.net/api-tinhthanh/1/0.htm', function (data_tinh) {
                if (data_tinh.error == 0) {
                    $.each(data_tinh.data, function (key_tinh, val_tinh) {
                        $("#tinh").append('<option value="' + val_tinh.id + '">' + val_tinh.full_name + '</option>');
                    });
                    $("#tinh").change(function (e) {
                        var idtinh = $(this).val();
                        //Lấy quận huyện
                        $.getJSON('https://esgoo.net/api-tinhthanh/2/' + idtinh + '.htm', function (data_quan) {
                            if (data_quan.error == 0) {
                                $("#quan").html('<option value="0">Quận Huyện</option>');
                                $("#phuong").html('<option value="0">Phường Xã</option>');
                                $.each(data_quan.data, function (key_quan, val_quan) {
                                    $("#quan").append('<option value="' + val_quan.id + '">' + val_quan.full_name + '</option>');
                                });
                                //Lấy phường xã
                                $("#quan").change(function (e) {
                                    var idquan = $(this).val();
                                    $.getJSON('https://esgoo.net/api-tinhthanh/3/' + idquan + '.htm', function (data_phuong) {
                                        if (data_phuong.error == 0) {
                                            $("#phuong").html('<option value="0">Phường Xã</option>');
                                            $.each(data_phuong.data, function (key_phuong, val_phuong) {
                                                $("#phuong").append('<option value="' + val_phuong.id + '">' + val_phuong.full_name + '</option>');
                                            });
                                        }
                                    });
                                });

                            }
                        });
                    });

                }
            });
        });
    </script>
}


