<header id="header">
    <!--header-->
    <div class="header_top">
        <!--header_top-->
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <div class="contactinfo">
                        <ul class="nav nav-pills">
                            <li><a href="#"><i class="fa fa-phone"></i> +2 95 01 88 821</a></li>
                            <li><a href="#"><i class="fa fa-envelope"></i> info@domain.com</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="social-icons pull-right">
                        <ul class="nav navbar-nav">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div><!--/header_top-->

    <div class="header-middle">
        <!--header-middle-->
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <div class="logo pull-left">
                        <a href="index.html"><img src="~/images/home/logo.png" alt="" /></a>
                    </div>
                    <div class="btn-group pull-right">
                        <div class="btn-group">
                            <button type="button" class="btn btn-default dropdown-toggle usa" data-toggle="dropdown">
                                USA
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a href="#">Canada</a></li>
                                <li><a href="#">UK</a></li>
                            </ul>
                        </div>

                        <div class="btn-group">
                            <button type="button" class="btn btn-default dropdown-toggle usa" data-toggle="dropdown">
                                DOLLAR
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a href="#">Canadian Dollar</a></li>
                                <li><a href="#">Pound</a></li>
                            </ul>
                        </div>

                    </div>
                </div>
                <div class="col-sm-8">
                    <div class="shop-menu pull-right">
                        <ul class="nav navbar-nav">
                            <li><a asp-controller="Cart" asp-action="Index" asp-area="" class="@(ViewBag.Class=="/Cart"?"active":"")"><i class="fa fa-shopping-cart"></i> Cart (@Model.cartCount)</a></li>
                            @if (User.Identity?.IsAuthenticated ?? false)
                            {
                                @* <li><a href="#"><i class="fa fa-crosshairs"></i> Checkout</a></li> *@
                                @* <li><a href="#"><i class="fa fa-user"></i> Account (@ViewBag.Test)</a></li> *@
                                if (User.FindFirst("amr")?.Value == "pwd")
                                {
                                    <li><a asp-controller="Home" asp-action="Account" class="@(ViewBag.Class=="/Account"?"active":"")"><i class="fa fa-user"></i> Account</a></li>
                                }
                                <li><a asp-controller="Home" asp-action="OrdersHistory" class="@(ViewBag.Class=="/OrdersHistory"?"active":"")"><i class="fa fa-bookmark"></i> Orders History</a></li>
                                <li><a asp-controller="Home" asp-action="Wishlist" class="@(ViewBag.Class=="/Wishlist"?"active":"")"><i class="fa fa-heart"></i> Wishlist (@Model.wishListCount)</a></li>
                                <li><a asp-controller="Home" asp-action="Compare" class="@(ViewBag.Class=="/Compare"?"active":"")"><i class="fa fa-star"></i> Compare (@Model.compareCount)</a></li>
                                @if (User.IsInRole("Admin"))
                                {
                                    <li><a asp-controller="Product" asp-action="Index" asp-area="Admin"><i class="fa fa-lock"></i> Admin Page</a></li>
                                }
                                <li><a asp-controller="Authentication" asp-action="Logout" asp-area=""><i class="fa fa-lock"></i> Hi, @User.Identity.Name, Logout</a></li>
                            }
                            else
                            {
                                <li><a asp-controller="Authentication" asp-action="Login" asp-area=""><i class="fa fa-lock"></i> Login</a></li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div><!--/header-middle-->

    <div class="header-bottom">
        <!--header-bottom-->
        <div class="container">
            <div class="row">
                <div class="col-sm-9">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div class="mainmenu pull-left">
                        <ul class="nav navbar-nav collapse navbar-collapse">
                            <li><a asp-controller="Home" asp-action="Index" class="@(ViewBag.Class=="/"?"active":"")">Home</a></li>
                            @if (User.IsInRole("Admin"))
                            {
                                <li><a asp-controller="Product" asp-action="Index" asp-area="Admin">Admin Page</a></li>
                            }
                            <li><a asp-controller="Cart" asp-action="Index" class="@(ViewBag.Class=="/Cart"?"active":"")">Cart (@Model.cartCount)</a></li>
@*                             <li class="dropdown">
                                <a asp-controller="Product" asp-action="Index">Shop<i class="fa fa-angle-down"></i></a>
                                <ul role="menu" class="sub-menu">
                                    <li><a asp-controller="Category" asp-action="Index">Categories</a></li>
                                    <li><a asp-controller="Product" asp-action="Details">Product Details</a></li>
                                    <li><a asp-controller="Cart" asp-action="Checkout">Checkout</a></li>
                                    <li><a asp-controller="Cart" asp-action="Index">Cart</a></li>
                                    <li><a asp-controller="Login" asp-action="Index">Login</a></li>
                                </ul>
                            </li> *@
                            <li><a asp-controller="Home" asp-action="Contact" class="@(ViewBag.Class=="/Contact"?"active":"")">Contact</a></li>
                            <li class="dropdown">
                                <a href="#">Blog<i class="fa fa-angle-down"></i></a>
                                <ul role="menu" class="sub-menu">
                                    <li><a href="blog.html">Blog List</a></li>
                                    <li><a href="blog-single.html">Blog Single</a></li>
                                </ul>
                            </li>
                            @* <li><a href="404.html">404</a></li> *@
                        </ul>
                    </div>
                </div>
                <div class="col-sm-3">
                    <form asp-controller="Product" asp-action="Search1" method="post">
                        <div class="search_box pull-right">
                            <input type="text" placeholder="Search" name="searchTerm" />
                            <button class="btn btn-warning" type="submit">Search</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div><!--/header-bottom-->
</header><!--/header-->